*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
    padding: 6px 6px 6px 6px;
}


/* box2 */


.deliver{
    color: #CCCCCC;
    font-size: .70rem;
    margin-left: 20px;
}


.India{
    color: white;
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}


/* box3 */

.nav-search{
    display: flex;
    background-color: pink;
    width:900px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border: none;
}


.search-input{
    width: 100%;
    font-size: 1rem;
    padding: 8px 10px 10px 10px;
    border: none;
}

.search-icon{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 166, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:  #292c2c;
}


/* box4 */


span{
    font-size: .7rem;
}

.nav-singin{
    font-size: .85rem;
    font-weight: 700;
}

/* box6 */


.nav-cart i {
    font-size: 30px;
}


.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: start;
    
}


.panel-ops p {
    display: inline;
    margin-left: 20px;
    font-weight: 500;
}

.panel-ops{
    width: 80%;
    font-size: 0.85rem;
    
}

.panel-all{
    margin-left: 20px;
    font-weight: 700;
}

/* hero-section */

.hero-section{
   background-image: url(hero_image.jpg);
   background-size: cover;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   
}

.hero-msg{
    background-color: white;
    height: 40px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin-bottom: 25px;
    
    
}

.Amazon{
    color: #2162a1;
    text-decoration: none;
}

.Amazon:hover{
    text-decoration: underline;
    color: #123559;;

}

/* .shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffe972;
}


.box{
    /* border: 2px solid black; */
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box1-img{
    background-image: url(gaming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2-img{
    background-image: url(box_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box3-img{
    background-image: url(box_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box4-img{
    background-image: url(box_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5-img{
    background-image: url(box_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box6-img{
    background-image: url(box_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7-img{
    background-image: url(box_7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box8-img{
    background-image: url(box_8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content a{
    color: #2162a1;
    font-size: .8rem;
    font-weight: 300;
}
.box-content a:hover{
    color: #123559;
}



/* footer */

footer{
    margin-top: 15px;
}


.foot-panel1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    background-color: #37475a;
    color: white;
}


.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 360px;
    border-bottom: .1px solid rgb(130, 129, 129);
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    padding-top: 15px;
    font-size: .85rem;
}
ul{
    margin-top: 50px;
}

ul p{
    font-weight: 700;
    font-size: 1rem;
}

ul a:hover{
    text-decoration: underline;
}


.foot-panel3{
    background-color: #222f3d;
    height: 70px;
    display: flex;
    justify-content: center;

}


.amazon-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    scale: calc(1.5);
}

.foot-panel4{

    background-color: #222f3d;
    height: 90px;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.foot-panel4 a{
    margin-right: 15px;
    font-size: .75rem;
}


.options a:hover{
    text-decoration: underline;
}

.options{
    text-align: center;
}

.copyrights{
    text-align: center;
    font-size: .75rem;
    padding-top: 5px;
}
