*{

text-align: center;


}



.container{

    display: flex;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
}



.box{

    width: 50%;
    height: 50px;   
    border-radius: 20px;


}


.Box1{

background-color: aqua;
border: 2px solid black;


}
.Box2{

background-color: rgb(0, 68, 255);
border: 2px solid black;


}
.Box3{

background-color: rgb(200, 0, 255);
border: 2px solid black;


}
.Box4{

background-color: rgb(255, 0, 0);
border: 2px solid black;


}
.Box5{

background-color: rgb(255, 255, 0);
border: 2px solid black;


}





.gridcontainer{

    border: 2px solid beige;
    height: 400px;
    display: grid;
    justify-content: center;
}



.gridbox{

    background-color: aquamarine;
    height: 100px;
    width: 100px;
    align-content: center;
    border: 2px solid black;


}


@media(max-width:600px){

    .gridbox{

        background-color: brown;

    }

}