body{
    background-color: #222; 
    overflow: hidden;
}


#hero{
    position: absolute; 
    font-size: 50px; 
    left: 100px; 
    top: 100px;
    /* transition: 0.4s linear; */
}

h3{
    color: white; 
    text-align: center; 
    font-family: sans-serif;
}


h2{
    position: absolute;
    top: 10px;
    right: 20px;
    color: yellow;
}

#coin{
    position: absolute;
    font-size: 40px;
    left: 300px;
    top: 300px;
}

#enemy{

    position: absolute;
    font-size: 40px;
    left: 500px;
    top: 500px;
    transition: 0.2s linear;

}