*{

    color: white;
    margin: 0px;
    font-family: sans-serif;

}




.navbar{

    background-color: rgb(0, 0, 0);
    display: flex ;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
    
h2{

    padding-left: 10px ;

}



}


ul{

    display: flex;
    gap: 20px;
    
    list-style: none;

}


a{

    text-decoration: none;
    font-size: 20px;


}



.cart{

    padding-right: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}


h1{

    color: black;

}

p{

    color: black;


}


