*{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    box-sizing: border-box;
}




.container{


    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 390px;
    
}


.card{

    border: 3px solid cyan;
    box-shadow: 0px 4px 8px rgba(0  , 0, 0, 0.6);
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

}

.circle{


    background-color: rgb(235, 130, 249);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    padding: 25px;
}