
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


h1{

    text-align: center;
    margin-top: 20px;
}

body {
    background-color: #fcfbf2; 
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    gap: 20px; 
    max-width: 1400px;
    margin: 0 auto; 
    padding-top: 30px;
}

.card {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: contain; 
    margin-bottom: 15px;
}


.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    height: 60px; 
    
}

.price {
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}

button {
    background-color: #800080; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #600060;
}




@media screen and (max-width: 1024px) {
    .container {
        
        grid-template-columns: 1fr 1fr; 
    }
}


@media screen and (max-width: 600px) {
    .container {
      
        grid-template-columns: 1fr; 
    }
    

    .card h3 {
        font-size: 16px;
    }
}